.container {
  height: 100vh;
  margin: 0.2rem 0rem;
  background-color: var(--text-color);
}

.darkWrap {
  width: 100%;
  height: 100%;
  margin: 0rem;
  background-color: var(--dark-bg-color);
}

.subContainer {
  padding: 1rem 2rem;
}

.btn {
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 5px 2rem;
  border-radius: 0.3rem;
  box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
  border: none;
  outline: none;
  cursor: pointer;
}

.btnDark {
  display: flex;
  align-items: center;
  color: var(--text-color);
  font-size: 16px;
  padding: 5px 2rem;
  border-radius: 0.3rem;
  box-shadow: 10px 10px 28px 0px rgba(0, 0, 0, 0.56);
  background-color: var(--dark-bg-color);
  border: none;
  outline: none;
  cursor: pointer;
}

.btn:hover,
.btnDark:hover {
  filter: brightness(120%);
}

.btn i,
.btnDark i {
  margin-right: 5px;
  font-size: 16px;
}

.rightSide {
  margin-left: 30px;
}

.content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 4rem;
  margin-left: 4rem;
}

.text {
  color: var(--text-color);
}

.img {
  width: 410px;
  height: 256px;
}

.borderWrap {
  margin-top: 3rem;
}

.border {
  padding: 2px 15px;
  border: 1px solid;
  margin: 0 7px;
  font-size: 14px;
  border-radius: 0.5rem;
}

.borderDark {
  padding: 2px 15px;
  border: 1px solid;
  margin: 0 7px;
  font-size: 14px;
  border-radius: 0.5rem;
  color: var(--text-color);
}

@media screen and (max-width: 600px) {
  .rightSide {
    margin-left: 0rem;
  }
  .content {
    margin-left: 0rem;
  }
}
