@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300;6..12,600;6..12,800&display=swap");

:root {
  font-family: "Nunito Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  --dark-bg-color: hsl(207, 26%, 17%);
  --article-color: hsl(209, 23%, 22%);
  --text-color: hsl(0, 0%, 100%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-background: hsl(0, 0%, 98%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #000;
  text-decoration: inherit;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-family: "Nunito Sans", sans-serif;
  background-color: #fafafa;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
}

#root {
  width: 100%;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: #f9f9f9;
  }
}

/* --------------------------------------------------------------------------- */
/* HEADINGS */
/* --------------------------------------------------------------------------- */

h1 {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  margin: 1.5rem 0;
}

h2 {
  color: #000000;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  margin: 1.5rem 0;
}

h3 {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 600;
  color: #000000;
  margin: 1rem 0;
}

h4 {
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  margin: 1rem 0;
}

h5 {
  font-family: "Nunito Sans", sans-serif;
  color: #000000;
  margin: 1rem 0;
}
